---
import type { Layout } from '../libs/layout'
import Head from '../components/head/Head.astro'
import Header from '../components/header/Header.astro'
import Scripts from '../components/Scripts.astro'

interface Props {
  description?: string
  layout?: Layout
  robots?: string
}

const { description, layout, robots } = Astro.props
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <Head description={description} layout={layout} robots={robots} />
  </head>
  <body
    ><!--TODO: handle {{ block "body_override" . }}<body>{{ end }} -->

    <Header layout={layout} />

    <!-- TODO:
			{{ block "main" . }}
			{{ end }}
		-->
    <main></main>

    <!-- TODO:
			{{ partial "footer" . }}
		-->

    <Scripts layout={layout} />

    <!-- TODO(HiDeoo) Is this related to the footer partial just above? -->
    <footer></footer>

    <!-- TODO:
			{{ block "footer" . }}
			{{ end }}
		-->
  </body>
</html>
